<app-header></app-header>
<main  class="min-h-screen bg-[var(--sand-light)] text-black dark:text-white transition-colors duration-300">
  <app-hero></app-hero>
  <section id="about" class="relative section-pattern">
    <app-about></app-about>
  </section>
  <section id="skills" class="relative section-pattern">
    <app-skills></app-skills>
  </section>
  <section id="projects" class="relative section-pattern">
    <app-projects></app-projects>
  </section>
  <section id="contact" class="relative section-pattern">
    <app-contact></app-contact>
  </section>
</main>
<app-footer></app-footer>
